{% extends "menu/layout.html" %}
{% load static %}
{% block body %}
<nav class="navbar navbar-expand navbar-light categories nav-item">
    <div class="ml-auto nav-link" style="text-align: center;">
        Category: {{ header }}
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        {% for item in items %}
            <div class="card list-details col-lg-4 col-sm-12">
                <div class="card-body">
                    <h5 class="card-title product-title product-description"><i>{{ item.name }}</i></h5>
                    <!-- <img class="img-fluid" src="{{ category.image }}" alt="connect" style="max-height:300px"> -->
                    <h6 class="card-subtitle mb-2 text-muted product-description"><strong>{{ item.description }}</strong></h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item product-description">Rating: {{ item.ratings }}</li>
                    <li class="list-group-item product-description">Price: {{ item.price }}</li>
                </ul>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}