{% extends "menu/layout.html" %}
{% load static %}
{% block body %}

<nav class="navbar navbar-expand navbar-light categories nav-item">
    <div class="ml-auto nav-link" style="text-align: center;">
        Category: {{ header }}
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        {% for item in items %}
            <div class="card list-details col-lg-4 col-sm-12">
                <div class="card-body">
                    <div class="card-body">
                        <a href="{% url 'item' category=header item=item.name %}"><h5 class="card-title product-title product-description"><i>{{ item.name }}</i></h5></a>
                    </div>
                    <div class="card-body">
                        <img class="img-fluid" src="{{ item.image.url }}" alt="connect" style="max-height:300px">
                    </div>
                    <h6 class="card-subtitle mb-2 text-muted product-description"><strong>{{ item.description }}</strong></h6>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item product-description">Rating: {{ item.ratings }}</li>
                    <li class="list-group-item product-description">Price: {{ item.price }}</li>
                    {% if quantity %}
                        <li class="list-group-item product-description">Quantity: {{ item.quantity.first.quantity }}</li>
                    {% else %}
                        <li class="list-group-item product-description">
                            <center><input type="number" style="width: 100px;" id="{{ item.id }}q" value=0></center>
                        </li>
                    {% endif %}
                </ul>
                {% if not quantity %}
                    <div class="btn-middle">
                        <button type="button" class="btn btn-auction btn-send-comment" id="{{ item.id }}" data-toggle="modal" data-target="#create">Add to Cart</button>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
        
    </div>
</div>

<script>
    const buttons = document.getElementsByTagName("button");

    const buttonPressed = e => { 
        // console.log(`ID of ${e.target.innerHTML} is ${e.target.id}`);
        // console.log(`ID of ${e.target.innerHTML} is ${e.target.id+'q'}`);
        const url = window.location.origin+`/cart/add/${e.target.id}/`+document.getElementById(`${e.target.id+'q'}`).value;
        fetch(url);
    }

    for (let button of buttons) 
        button.addEventListener("click", buttonPressed);
</script>
{% endblock %}